general:
  debug_level: INFO
  input_filelist_path: "../metadata/filelist.txt"
  input_sumweights_path: "../metadata/sum_of_weights.txt"
  output_path_histograms: "../output_histograms/"
  output_path_ntuples: "../output_ntuples/"
  default_sumweights: "NOSYS"
  default_event_weights: "weight_mc_NOSYS * weight_pileup_NOSYS * weight_leptonSF_tight_NOSYS * weight_jvt_effSF_NOSYS"
  default_reco_tree_name: "reco"
  xsection_files:
    - files: ["/cvmfs/atlas.cern.ch/repo/sw/database/GroupData/dev/PMGTools/PMGxsecDB_mc23.txt"]
      campaigns: ["mc23a", "mc23e", "mc23d"]
  luminosity:
    mc23a: 29300.0
  #  mc23e: 109400.0
  #  mc23d: 26700.0
  automatic_systematics: False
  nominal_only: True
  config_define_after_custom_class : True
  create_tlorentz_vectors_for: ["jet", "el", "mu"]
  use_rvec: True
  number_of_cpus: 12
  use_region_subfolders: True
  custom_frame_name: "MyCustomFrame"


regions:
  - name: "sec_region"
    selection: "selection_cuts_NOSYS == 1"
    variables:
      - name: "chi_lpb"
        definition: chi_lpb_NOSYS
        title: "Chi2 l+ b"
        binning: &lpb_jet_binning
          min: -0.5
          max: 2.5
          number_of_bins: 3

      - name: "chi_lmbb"
        definition: chi_lmbb_NOSYS
        title: "Chi2 l- bbar"
        binning: *lpb_jet_binning

ntuples:
  #regions:
  #  - sec_region
  # If you want a selection here, use the same as the region:
  selection: "selection_cuts_NOSYS == 1 && jet_size_NOSYS == 2"
  branches:
    - truth_m_lpb_NOSYS
    - truth_m_lmbb_NOSYS

    - chi_lpb_NOSYS
    - chi_lmbb_NOSYS
    - misms_lpb_NOSYS
    - misms_lmbb_NOSYS

    - weight_mc_NOSYS              # MC generator weight
    - weight_pileup_NOSYS          # pileup weight
    - weight_leptonSF_tight_NOSYS  # lepton SF
    - weight_jvt_effSF_NOSYS       # jet SF 

    - chi_lpb_one_NOSYS 
    - chi_lmbb_one_NOSYS
    - chi_lpb_two_NOSYS
    - chi_lmbb_two_NOSYS
    - chi_lpb_three_NOSYS
    - chi_lmbb_three_NOSYS
    - chi_lpb_four_NOSYS
    - chi_lmbb_four_NOSYS
    - chi_lpb_five_NOSYS
    - chi_lmbb_five_NOSYS

    - truth_m_lpb1_NOSYS
    - truth_m_lmbb1_NOSYS
    - truth_m_lpb2_NOSYS
    - truth_m_lmbb2_NOSYS
    - truth_m_lpb3_NOSYS
    - truth_m_lmbb3_NOSYS
    - truth_m_lpb4_NOSYS
    - truth_m_lmbb4_NOSYS
    - truth_m_lpb5_NOSYS
    - truth_m_lmbb5_NOSYS

samples:
  - name: "data"
    dsids: [0]
    campaigns: ["2022"]
    simulation_type: "data"

  - name: "ttll"
    dsids: [601230]
    campaigns: ["mc23a"]
    simulation_type: "fullsim"
